@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');

* {
  font-family: 'Fira Mono', monospace;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

section {
  width: 100%;
}

h1 {
  color: #ed225d;
}

a {
  color: #ed225d;
}
